version: "3.9"

services:
  mysql:
    image: mysql:latest
    container_name: mysql-db
    ports:
      - "${MYSQL_PORT}:3306"
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DB}
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
    external: true
    name: 23bef8d310972200ce0b1f2d2c66e932d8426dcc2746f14f08893c810830c586